header, footer {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

footer.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
body {
    background-image: url('images/background.jpg'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Make sure the body covers the full viewport height */
    margin: 0; /* Remove default margin */
}


button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50; /* A vivid green color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none; /* Removes the outline to make buttons look cleaner */
}

button:hover {
    background-color: #367c39; /* Darker green on hover */
}


button:hover {
    background-color: #45a049;
}
